@import "variables.scss";

body {
    margin: 0;
}

.header-block {
    width: $page-width;
    margin: 0 auto;
    background-image: url("../img/header-background.png");
    filter: brightness(90%);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
    box-sizing: border-box;

        &-navigation {
            height: $header-height;
            display: flex;
            padding: 40px 0 0;
            box-sizing: border-box;
            justify-content: space-between;        
            margin: 0 auto;
            width: 61vw;

            &-logotype {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                color: #fff;
                width: 250px;
                text-decoration: none;

                &-icon {
                    fill: currentColor;
                }

                &-title {
                    display: block;
                    text-align: right;
                    width: 30%;
                    font-family: 'raleway', 'verdana', sans-serif;
                    font-style: normal;
                    @include txt-styles(34px, 34px, 400, currentColor);
                    letter-spacing: -0.04em;
                }

                &:hover {
                    color: #998675;
                }

                &:active {
                    color: #000;
                }
            }
            &-wrap {
                display: flex;
                flex-wrap: wrap;

                &-list {
                    list-style-type: none;
                    align-items: center;
                    display: flex;
                    flex-wrap: nowrap;
                    font-family: 'montserrat', 'verdana', sans-serif;
                    font-style: normal;
                    @include txt-styles(14px, 14px, 300, #fff);
                    margin: 0 0 0 70px;
                    padding: 0;
                    box-sizing: border-box;

                    &-item {
                        display: block;
                        margin: 0;
                        padding: 0 15px 0 10px;
                        box-sizing: border-box;
                        
                    &:nth-child(1) {
                        padding: 0 15px 0 20px;
                        box-sizing: border-box;
                        margin: 0;
                    } 
                        
                    &:nth-child(2) {
                        width: 100px;
                        margin: 0;
                        padding: 0 0 0 15px;
                        box-sizing: border-box;
                    }

                    &:nth-child(8) {
                        padding: 0 1px 0 20px;
                        box-sizing: border-box;
                    }

                    &:hover {
                        color: #998675;
                    }

                    &:active {
                        color: #000;
                    }

                    }
                }
            }

            &-logotypes {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            
                &-icon {
                    display: flex;
                    align-self: center;
                    margin: 0 0 0 0;
                    
                    &-logo {
                        width: 40px;
                        fill: #fff;
                        

                        &:hover {
                            fill: #998675;
                        }
    
                        &:active {
                            fill: #000;
                        }
                    }
                }
                &-form {
                    display: flex;
                    align-items: center;
                }

                &-form {
                    width: 24px;
                    height: 24px;
                    margin: 0;
                    position: relative;
                    align-self: center;

                    &-search {
                        width: 0;
                        min-height: 0;
                        padding: 5px;
                        box-sizing: border-box;
                        outline: none;
                        color: #fff;
                        background-color: transparent;
                        border: none;
                        position: absolute;
                        top: 40px;
                        left: -119px;
                        text-transform: capitalize;


                        &:focus {
                            width: 150px;
                            min-height: 20px;
                            transition: width 1s ease;
                            background-color: transparent; 
                            border: 2px solid #fff;
                        }
                    }
                    
                    &-label {
                        display: block;
                        width: 100%;
                        height: 100%;

                        &-icon {
                            width: 100%;
                            height: 100%;
                            fill: #fff;
                        }

                        &:hover &-icon {
                            fill: #998675;
                        }

                        &:active &-icon {
                            fill: #000;
                        }
                    }

                }    
            }
        }
        &-page {
            height: $header-page-height;
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            padding: 177px 0 0;

            &-navigation_arrow {
                display: block;
                border-top: 3px solid #a2a19f;
                border-right: 3px solid #a2a19f;
                width: 50px;
                height: 50px;

                &:nth-of-type(1) {
                    margin: 0 70px 0 0;
                    transform: rotate(225deg);
                }

                &:nth-of-type(2) {
                    margin: 0 0 0 70px;
                    transform: rotate(45deg);
                }

                &:hover {
                    border-color: #998675;  
                }

                &:active {
                    border-color: black;
                }
            }

            &-textblock {
                width: 35%;
                

                &-subtitle {
                    display: block;
                    text-align: center;
                    font-family: 'raleway', 'verdana', sans-serif;
                    font-style: normal;
                    @include txt-styles(36px, 36px, 500, #fff);
                }
                &-title {
                    display: block;
                    margin: 10px 0 0 0;
                    text-align: center;
                    font-family: 'raleway', 'verdana', sans-serif;
                    font-style: normal;
                    @include txt-styles(52px, 52px, 800, #fff);
                    letter-spacing: 1px;
                }
                &-txt {
                    display: block;
                    margin: 20px auto 47px;
                    hyphens: manual;
                    text-align: center;
                    font-family: 'montserrat', 'verdana', sans-serif;
                    font-style: normal;
                    @include txt-styles(16px, 24px, 300, #fff);
                    padding: 0 25px 0;
                    box-sizing: border-box;
                }
                &-button {
                    display: block;
                    margin: 0 auto;
                    border: none;
                    border-bottom: 3px solid #736357;
                    background-color: #998675;
                    border-radius: 5px;
                    width: 170px;
                    padding: 18px;
                    box-sizing: border-box;
                    text-decoration: none;
                    text-transform: uppercase;
                    text-align: center;
                    font-family: 'raleway', 'verdana', sans-serif;
                    font-style: normal;
                    @include txt-styles(14px, 14px, 800, #fff);
                    outline: none;
                    
                    &-txt {
                        margin: auto;
                    }

                    &:hover {
                        background-color: #998675;
                        color: rgb(51, 50, 50);
                    }
    
                    &:active {
                        background-color: #6e6155;
                        color: black;
                    }
                }
            }
            &-navigation_list {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-self: flex-end;
                width: 100%;
                margin: 0;
                padding: 0 0 40px;
                box-sizing: border-box;
                border: 1px solid transparent;

                &-item {
                    display: block;
                    border: 1px solid #212125;
                    height: 12px;
                    width: 12px;
                    border-radius: 50%;
                    background-color: #939190;
                    margin: 0 5px;
                    box-sizing: border-box;

                    &:hover {
                        border: 2px solid #fff;
                        border-radius: 50%;
                        background-color: transparent;
                        box-sizing: border-box;
                        transform: scale(1.2);
                    }
                }
            }
        }
}