@import "variables.scss";

.mobile-device-block {
    width: $page-width;
    min-height: $mobile-device-block-height;
    background-color: #fff;
    margin: auto;

    &-container {
        width: $container-width;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin: auto;
        padding: 80px 0 0 4%;
        box-sizing: border-box;

        &-image {
            width: 38%;
            height: 100%;
            margin: 0;
        }

        &-text-block {
            padding: 115px 0 0;
            box-sizing: border-box;
            margin: 0 0 0 25px;

            &-heading {
                font-family: 'raleway', 'verdana', sans-serif;
                font-style: normal;
                @include txt-styles(30px, 30px, 600, #555555);
            }
            &-txt {
                font-family: 'montserrat', 'verdana', sans-serif;
                font-style: normal;
                @include txt-styles(16px, 28px, 300, #8c8c8c);
                margin: 27px 0 0;
            }
            &-list {
                font-family: 'montserrat', 'verdana', sans-serif;
                font-style: normal;
                @include txt-styles(16px, 28px, 300, #8c8c8c);
                list-style-type: none;
                margin: 30px 0 0 20px;
                padding: 0 0 0 85px;
                box-sizing: border-box;

                &-item {
                    position: relative;
                    display: block;
                    margin: 0 0 5px 0;

                    &:before {
                        content: "";
                        display: block;
                        width: 20px;
                        height: 20px;
                        border: 1px solid #c7b299;
                        background-color: #c7b299;
                        border-radius: 50%;
                        position: absolute;
                        top: 3px;
                        left: -51px;
                    }
                    &:after{
                        content: "";
                        width: 8px;
                        height: 8px;
                        display: block;
                        border: none;
                        border-top: 1px solid #fff;
                        border-left: 1px solid #fff;
                        transform: rotate(135deg);
                        position: absolute;
                        top: 9px;
                        left: -47px;
                    }
                }
            }
        }
    }
}