@import "variables.scss";

.realization-block {
    background-color: #fbfaf8;
    height: $realization-height;

    &-container {
        padding: 80px 0 0;
        box-sizing: border-box;
        width: 64vw;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &-heading {
            display: block;
            width: 100%;
            justify-content: center;
            text-align: center;
            margin: 0 auto 15px;
            font-family: 'raleway', 'verdana', sans-serif;
            font-style: normal;
            @include txt-styles(30px, 30px, 600, #555555)
        }

        &-txt {
            display: block;
            width: 65%;
            margin: 0 auto;
            hyphens: auto;
            font-family:'montserrat', 'verdana', sans-serif;
            font-style: normal;
            @include txt-styles(16px, 28px, 300, #c7c7c6)
        }

        &-pictures {
            width: 100%;
            height: 516px;
            background-image: url("../img/realization-center.png"),
                              url("../img/realization-left.png"),
                              url("../img/realization-right.png");
            background-position:  bottom center, bottom left, bottom right;
            background-repeat: no-repeat;
            background-size: 50% 40% 40%;
        }
    }
}