@import "variables.scss";

.statistic-block {
    height: $statistic-block-height;
    width: $page-width;
    background-image: url("../img/statistic-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;

    &-container {
        width: $container-width;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 70px 0 60px;
        box-sizing: border-box;

        &-card {
            padding: 9px 0 0;
            box-sizing: border-box;

            &-icon {
                display: block;
                margin: 0 auto;
                fill: #c7b299;
                height: 44px;
            }

            &-heading {
                display: block;
                text-align: center;
                font-family: 'montserrat', 'verdana', sans-serif;
                font-style: normal;
                @include txt-styles(48px, 36px, 200, #fff);
                margin: 31px auto 12px;
            }

            &-quantity {
                display: block;
                text-align: center;
                font-family: 'montserrat', 'verdana', sans-serif;
                font-style: normal;
                @include txt-styles(14px, 20px, 300, #c7b299);
                margin: 0 auto 27px;
                text-transform: uppercase;
            }

            &-line {
                width: 30px;
                height: 2px;
                background-color: #fff;
                border: 1px solid #fff;
                box-sizing: border-box;
                margin: auto;
            }

            &:hover &-heading {
                color: #c7b299;
            }
            &:hover &-line {
                background-color: #c7b299;
                border-color: #c7b299;
            }
        }
    }
}