$page-width: 1920px;
$container-width: 64%;
$header-height: 10vh;
$header-page-height: 99.3vh;
$options-height: 40vh;
$realization-height: 70vh;
$commercial-height: 16vh;
$projects-block-height: 80vh;
$video-block-height: 75vh;
$mobile-device-block-height: 74.3vh;
$statistic-block-height: 32vh;

@mixin txt-styles($font-size, $line-height, $font-weight, $color) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    color: $color;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-regular.woff2') format('woff2'),
         url('../fonts/raleway-regular.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('truetype'),
         url('../fonts/raleway-regular.eot') format('eot');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-medium.woff2') format('woff2'),
         url('../fonts/raleway-medium.woff') format('woff'),
         url('../fonts/raleway-medium.ttf') format('truetype'),
         url('../fonts/raleway-medium.eot') format('eot');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-semibold.woff2') format('woff2'),
         url('../fonts/raleway-semibold.woff') format('woff'),
         url('../fonts/raleway-semibold.ttf') format('truetype'),
         url('../fonts/raleway-semibold.eot') format('eot');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-bold.woff2') format('woff2'),
         url('../fonts/raleway-bold.woff') format('woff'),
         url('../fonts/raleway-bold.ttf') format('truetype'),
         url('../fonts/raleway-bold.eot') format('eot');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-extrabold.woff2') format('woff2'),
         url('../fonts/raleway-extrabold.woff') format('woff')
         url('../fonts/raleway-extrabold.ttf') format('truetype'),
         url('../fonts/raleway-extrabold.eot') format('eot');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-regular.woff2') format('woff2'),
         url('../fonts/roboto-regular.woff') format('woff'),
         url('../fonts/roboto-regular.ttf') format('truetype'),
         url('../fonts/roboto-regular.eot') format('eot');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-light.woff2') format('woff2'),
         url('../fonts/montserrat-light.woff') format('woff'),
         url('../fonts/montserrat-light.ttf') format('truetype'),
         url('../fonts/montserrat-light.eot') format('eot');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-regular.woff2') format('woff2'),
         url('../fonts/montserrat-regular.woff') format('woff'),
         url('../fonts/montserrat-regular.ttf') format('truetype'),
         url('../fonts/montserrat-regular.eot') format('eot');
    font-weight: 400;
    font-style: normal;
}