$page-width: 1920px;
$container-width: 1200px;
@mixin txt-styles($font-size, $line-height, $font-weight, $color) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    color: $color;
}