@import "variables.scss";

.video-block {
    margin: auto;
    height: 75vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    display: flex;

    &-video {
        width: 100%;
        height: 100%;
        background-color: #fff;
        object-fit: cover;        
    }

    &-information {
        display: block;
        position: absolute;
        justify-content: center;
        top: 32%;
        left: 25%;

        &-playbtn {
            width: 70px;
            height: 70px;
            display: block;
            margin: 0 auto 55px;
            outline: none;
            border: none;
            background-color: transparent;

            &-circle {
                fill: #fff;
                opacity: 1;
            }
            &:hover &-circle {
                fill: #b2a28f;
            }
            &:active &-circle {
                fill: #b2a28f;
                opacity: 0.4;
            }
        }
        &--hide {
            display: none;
        }
        &-heading {
            display: block;
            width: 60%;
            margin: 0 auto;
            text-align: center;
            font-family: 'raleway', 'verdana', sans-serif;
            font-style: normal;
            @include txt-styles(30px, 30px, 500, #fff);
        }

        &-txt {
            display: block;
            text-align: center;
            margin: 13px auto 0;
            width: 60%;
            hyphens: auto;
            font-family: 'montserrat', 'verdana', sans-serif;
            font-style: normal;
            @include txt-styles(16px, 28px, 300, #fff);
        }

        &-duration {
            display: block;
            text-align: center;
            width: 60%;
            margin: 23px auto 0;
            font-family: 'montserrat', 'verdana', sans-serif;
            font-style: normal;
            @include txt-styles(14px, 28px, 400, #b2a28f);
        }
    }
}
