@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-regular.woff2") format("woff2"), url("../fonts/raleway-regular.woff") format("woff"), url("../fonts/raleway-regular.ttf") format("truetype"), url("../fonts/raleway-regular.eot") format("eot");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-medium.woff2") format("woff2"), url("../fonts/raleway-medium.woff") format("woff"), url("../fonts/raleway-medium.ttf") format("truetype"), url("../fonts/raleway-medium.eot") format("eot");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-semibold.woff2") format("woff2"), url("../fonts/raleway-semibold.woff") format("woff"), url("../fonts/raleway-semibold.ttf") format("truetype"), url("../fonts/raleway-semibold.eot") format("eot");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-bold.woff2") format("woff2"), url("../fonts/raleway-bold.woff") format("woff"), url("../fonts/raleway-bold.ttf") format("truetype"), url("../fonts/raleway-bold.eot") format("eot");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-extrabold.woff2") format("woff2"), url("../fonts/raleway-extrabold.woff") format("woff") url("../fonts/raleway-extrabold.ttf") format("truetype"), url("../fonts/raleway-extrabold.eot") format("eot");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff"), url("../fonts/roboto-regular.ttf") format("truetype"), url("../fonts/roboto-regular.eot") format("eot");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-light.woff2") format("woff2"), url("../fonts/montserrat-light.woff") format("woff"), url("../fonts/montserrat-light.ttf") format("truetype"), url("../fonts/montserrat-light.eot") format("eot");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff"), url("../fonts/montserrat-regular.ttf") format("truetype"), url("../fonts/montserrat-regular.eot") format("eot");
  font-weight: 400;
  font-style: normal; }
body {
  margin: 0; }

.header-block {
  width: 100vw;
  margin: 0;
  background-image: url("../img/header-background.png");
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .header-block-navigation {
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 40px 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
    width: 61vw; }
    .header-block-navigation-logotype {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: #fff;
      width: 250px;
      text-decoration: none; }
      .header-block-navigation-logotype-icon {
        fill: currentColor; }
      .header-block-navigation-logotype-title {
        display: block;
        text-align: right;
        width: 30%;
        font-family: 'raleway', 'verdana', sans-serif;
        font-style: normal;
        font-size: 34px;
        line-height: 34px;
        font-weight: 400;
        color: currentColor;
        letter-spacing: -0.04em; }
      .header-block-navigation-logotype:hover {
        color: #998675; }
      .header-block-navigation-logotype:active {
        color: #000; }
    .header-block-navigation-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .header-block-navigation-wrap-list {
        list-style-type: none;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        font-family: 'montserrat', 'verdana', sans-serif;
        font-style: normal;
        font-size: 14px;
        line-height: 14px;
        font-weight: 300;
        color: #fff;
        margin: 0 0 0 70px;
        padding: 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
        .header-block-navigation-wrap-list-item {
          display: block;
          margin: 0;
          padding: 0 15px 0 10px;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box; }
          .header-block-navigation-wrap-list-item:nth-child(1) {
            padding: 0 15px 0 20px;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            margin: 0; }
          .header-block-navigation-wrap-list-item:nth-child(2) {
            width: 100px;
            margin: 0;
            padding: 0 0 0 15px;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box; }
          .header-block-navigation-wrap-list-item:nth-child(8) {
            padding: 0 1px 0 20px;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box; }
          .header-block-navigation-wrap-list-item:hover {
            color: #998675; }
          .header-block-navigation-wrap-list-item:active {
            color: #000; }
    .header-block-navigation-logotypes {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .header-block-navigation-logotypes-icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-item-align: center;
            align-self: center;
        margin: 0 0 0 0; }
        .header-block-navigation-logotypes-icon-logo {
          width: 40px;
          fill: #fff; }
          .header-block-navigation-logotypes-icon-logo:hover {
            fill: #998675; }
          .header-block-navigation-logotypes-icon-logo:active {
            fill: #000; }
      .header-block-navigation-logotypes-form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      .header-block-navigation-logotypes-form {
        width: 24px;
        height: 24px;
        margin: 0;
        position: relative;
        -ms-flex-item-align: center;
            align-self: center; }
        .header-block-navigation-logotypes-form-search {
          width: 0;
          min-height: 0;
          padding: 5px;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          outline: none;
          color: #fff;
          background-color: transparent;
          border: none;
          position: absolute;
          top: 40px;
          left: -119px;
          text-transform: capitalize; }
          .header-block-navigation-logotypes-form-search:focus {
            width: 150px;
            min-height: 20px;
            -webkit-transition: width 1s ease;
            transition: width 1s ease;
            background-color: transparent;
            border: 2px solid #fff; }
        .header-block-navigation-logotypes-form-label {
          display: block;
          width: 100%;
          height: 100%; }
          .header-block-navigation-logotypes-form-label-icon {
            width: 100%;
            height: 100%;
            fill: #fff; }
          .header-block-navigation-logotypes-form-label:hover .header-block-navigation-logotypes-form-label-icon {
            fill: #998675; }
          .header-block-navigation-logotypes-form-label:active .header-block-navigation-logotypes-form-label-icon {
            fill: #000; }
  .header-block-page {
    height: 99.3vh;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 177px 0 0; }
    .header-block-page-navigation_arrow {
      display: block;
      border-top: 3px solid #a2a19f;
      border-right: 3px solid #a2a19f;
      width: 50px;
      height: 50px; }
      .header-block-page-navigation_arrow:nth-of-type(1) {
        margin: 0 70px 0 0;
        -webkit-transform: rotate(225deg);
                transform: rotate(225deg); }
      .header-block-page-navigation_arrow:nth-of-type(2) {
        margin: 0 0 0 70px;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
      .header-block-page-navigation_arrow:hover {
        border-color: #998675; }
      .header-block-page-navigation_arrow:active {
        border-color: black; }
    .header-block-page-textblock {
      width: 35%; }
      .header-block-page-textblock-subtitle {
        display: block;
        text-align: center;
        font-family: 'raleway', 'verdana', sans-serif;
        font-style: normal;
        font-size: 36px;
        line-height: 36px;
        font-weight: 500;
        color: #fff; }
      .header-block-page-textblock-title {
        display: block;
        margin: 10px 0 0 0;
        text-align: center;
        font-family: 'raleway', 'verdana', sans-serif;
        font-style: normal;
        font-size: 52px;
        line-height: 52px;
        font-weight: 800;
        color: #fff;
        letter-spacing: 1px; }
      .header-block-page-textblock-txt {
        display: block;
        margin: 20px auto 47px;
        -webkit-hyphens: manual;
            -ms-hyphens: manual;
                hyphens: manual;
        text-align: center;
        font-family: 'montserrat', 'verdana', sans-serif;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        color: #fff;
        padding: 0 25px 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
      .header-block-page-textblock-button {
        display: block;
        margin: 0 auto;
        border: none;
        border-bottom: 3px solid #736357;
        background-color: #998675;
        border-radius: 3px;
        width: 170px;
        padding: 18px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        outline: none;
        font-family: 'raleway', 'verdana', sans-serif;
        font-style: normal;
        font-size: 14px;
        line-height: 14px;
        font-weight: 800;
        color: #fff; }
        .header-block-page-textblock-button-txt {
          margin: auto; }
        .header-block-page-textblock-button:hover {
          background-color: #998675;
          color: #333232; }
        .header-block-page-textblock-button:active {
          background-color: #6e6155;
          color: black; }
    .header-block-page-navigation_list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-flex-item-align: end;
          align-self: flex-end;
      width: 100%;
      margin: 0;
      padding: 0 0 40px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border: 1px solid transparent; }
      .header-block-page-navigation_list-item {
        display: block;
        border: 1px solid #212125;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: #939190;
        margin: 0 5px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
        .header-block-page-navigation_list-item:hover {
          border: 2px solid #fff;
          border-radius: 50%;
          background-color: transparent;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          -webkit-transform: scale(1.2);
                  transform: scale(1.2); }

@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-regular.woff2") format("woff2"), url("../fonts/raleway-regular.woff") format("woff"), url("../fonts/raleway-regular.ttf") format("truetype"), url("../fonts/raleway-regular.eot") format("eot");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-medium.woff2") format("woff2"), url("../fonts/raleway-medium.woff") format("woff"), url("../fonts/raleway-medium.ttf") format("truetype"), url("../fonts/raleway-medium.eot") format("eot");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-semibold.woff2") format("woff2"), url("../fonts/raleway-semibold.woff") format("woff"), url("../fonts/raleway-semibold.ttf") format("truetype"), url("../fonts/raleway-semibold.eot") format("eot");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-bold.woff2") format("woff2"), url("../fonts/raleway-bold.woff") format("woff"), url("../fonts/raleway-bold.ttf") format("truetype"), url("../fonts/raleway-bold.eot") format("eot");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-extrabold.woff2") format("woff2"), url("../fonts/raleway-extrabold.woff") format("woff") url("../fonts/raleway-extrabold.ttf") format("truetype"), url("../fonts/raleway-extrabold.eot") format("eot");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff"), url("../fonts/roboto-regular.ttf") format("truetype"), url("../fonts/roboto-regular.eot") format("eot");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-light.woff2") format("woff2"), url("../fonts/montserrat-light.woff") format("woff"), url("../fonts/montserrat-light.ttf") format("truetype"), url("../fonts/montserrat-light.eot") format("eot");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff"), url("../fonts/montserrat-regular.ttf") format("truetype"), url("../fonts/montserrat-regular.eot") format("eot");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-regular.woff2") format("woff2"), url("../fonts/raleway-regular.woff") format("woff"), url("../fonts/raleway-regular.ttf") format("truetype"), url("../fonts/raleway-regular.eot") format("eot");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-medium.woff2") format("woff2"), url("../fonts/raleway-medium.woff") format("woff"), url("../fonts/raleway-medium.ttf") format("truetype"), url("../fonts/raleway-medium.eot") format("eot");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-semibold.woff2") format("woff2"), url("../fonts/raleway-semibold.woff") format("woff"), url("../fonts/raleway-semibold.ttf") format("truetype"), url("../fonts/raleway-semibold.eot") format("eot");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-bold.woff2") format("woff2"), url("../fonts/raleway-bold.woff") format("woff"), url("../fonts/raleway-bold.ttf") format("truetype"), url("../fonts/raleway-bold.eot") format("eot");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-extrabold.woff2") format("woff2"), url("../fonts/raleway-extrabold.woff") format("woff") url("../fonts/raleway-extrabold.ttf") format("truetype"), url("../fonts/raleway-extrabold.eot") format("eot");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff"), url("../fonts/roboto-regular.ttf") format("truetype"), url("../fonts/roboto-regular.eot") format("eot");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-light.woff2") format("woff2"), url("../fonts/montserrat-light.woff") format("woff"), url("../fonts/montserrat-light.ttf") format("truetype"), url("../fonts/montserrat-light.eot") format("eot");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff"), url("../fonts/montserrat-regular.ttf") format("truetype"), url("../fonts/montserrat-regular.eot") format("eot");
  font-weight: 400;
  font-style: normal; }
.options-block {
  width: 100vw;
  height: 40vh;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto; }
  .options-block-container {
    width: 61vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 auto;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .options-block-container-element {
      color: #555555; }
      .options-block-container-element-icon {
        display: block;
        margin: auto;
        fill: #555555;
        -ms-flex-item-align: start;
            align-self: flex-start;
        height: 50px; }
      .options-block-container-element-heading {
        display: block;
        text-align: center;
        font-family: 'raleway', 'verdana', sans-serif;
        font-style: normal;
        font-size: 22px;
        line-height: 22px;
        font-weight: 600;
        color: #555555;
        margin: 25px auto 20px; }
      .options-block-container-element-txt {
        display: block;
        text-align: center;
        -webkit-hyphens: auto;
            -ms-hyphens: auto;
                hyphens: auto;
        font-family: 'montserrat', 'verdana', sans-serif;
        font-style: normal;
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        color: #8c8c8c;
        margin: 0 0 15px; }
      .options-block-container-element-line {
        display: block;
        width: 60px;
        height: 3px;
        border: 1px solid #f1eee9;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        background-color: #f1eee9;
        margin: 0 auto; }
      .options-block-container-element:hover .options-block-container-element-line {
        background-color: #c7b299;
        border-color: #c7b299; }
      .options-block-container-element:hover .options-block-container-element-heading {
        color: #c7b299; }
      .options-block-container-element:hover .options-block-container-element-icon {
        fill: #c7b299; }

@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-regular.woff2") format("woff2"), url("../fonts/raleway-regular.woff") format("woff"), url("../fonts/raleway-regular.ttf") format("truetype"), url("../fonts/raleway-regular.eot") format("eot");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-medium.woff2") format("woff2"), url("../fonts/raleway-medium.woff") format("woff"), url("../fonts/raleway-medium.ttf") format("truetype"), url("../fonts/raleway-medium.eot") format("eot");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-semibold.woff2") format("woff2"), url("../fonts/raleway-semibold.woff") format("woff"), url("../fonts/raleway-semibold.ttf") format("truetype"), url("../fonts/raleway-semibold.eot") format("eot");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-bold.woff2") format("woff2"), url("../fonts/raleway-bold.woff") format("woff"), url("../fonts/raleway-bold.ttf") format("truetype"), url("../fonts/raleway-bold.eot") format("eot");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-extrabold.woff2") format("woff2"), url("../fonts/raleway-extrabold.woff") format("woff") url("../fonts/raleway-extrabold.ttf") format("truetype"), url("../fonts/raleway-extrabold.eot") format("eot");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff"), url("../fonts/roboto-regular.ttf") format("truetype"), url("../fonts/roboto-regular.eot") format("eot");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-light.woff2") format("woff2"), url("../fonts/montserrat-light.woff") format("woff"), url("../fonts/montserrat-light.ttf") format("truetype"), url("../fonts/montserrat-light.eot") format("eot");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff"), url("../fonts/montserrat-regular.ttf") format("truetype"), url("../fonts/montserrat-regular.eot") format("eot");
  font-weight: 400;
  font-style: normal; }
.realization-block {
  background-color: #fbfaf8;
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto; }
  .realization-block-container {
    padding: 80px 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 64vw;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .realization-block-container-heading {
      display: block;
      width: 100%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center;
      margin: 0 auto 15px;
      font-family: 'raleway', 'verdana', sans-serif;
      font-style: normal;
      font-size: 30px;
      line-height: 30px;
      font-weight: 600;
      color: #555555; }
    .realization-block-container-txt {
      display: block;
      width: 65%;
      margin: 0 auto;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center;
      -webkit-hyphens: auto;
          -ms-hyphens: auto;
              hyphens: auto;
      font-family: 'montserrat', 'verdana', sans-serif;
      font-style: normal;
      font-size: 16px;
      line-height: 28px;
      font-weight: 300;
      color: #c7c7c6; }
    .realization-block-container-pictures {
      width: 100%;
      height: 516px;
      background-image: url("../img/realization-center.png"), url("../img/realization-left.png"), url("../img/realization-right.png");
      background-position: bottom center, bottom left, bottom right;
      background-repeat: no-repeat; }

@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-regular.woff2") format("woff2"), url("../fonts/raleway-regular.woff") format("woff"), url("../fonts/raleway-regular.ttf") format("truetype"), url("../fonts/raleway-regular.eot") format("eot");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-medium.woff2") format("woff2"), url("../fonts/raleway-medium.woff") format("woff"), url("../fonts/raleway-medium.ttf") format("truetype"), url("../fonts/raleway-medium.eot") format("eot");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-semibold.woff2") format("woff2"), url("../fonts/raleway-semibold.woff") format("woff"), url("../fonts/raleway-semibold.ttf") format("truetype"), url("../fonts/raleway-semibold.eot") format("eot");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-bold.woff2") format("woff2"), url("../fonts/raleway-bold.woff") format("woff"), url("../fonts/raleway-bold.ttf") format("truetype"), url("../fonts/raleway-bold.eot") format("eot");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-extrabold.woff2") format("woff2"), url("../fonts/raleway-extrabold.woff") format("woff") url("../fonts/raleway-extrabold.ttf") format("truetype"), url("../fonts/raleway-extrabold.eot") format("eot");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff"), url("../fonts/roboto-regular.ttf") format("truetype"), url("../fonts/roboto-regular.eot") format("eot");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-light.woff2") format("woff2"), url("../fonts/montserrat-light.woff") format("woff"), url("../fonts/montserrat-light.ttf") format("truetype"), url("../fonts/montserrat-light.eot") format("eot");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff"), url("../fonts/montserrat-regular.ttf") format("truetype"), url("../fonts/montserrat-regular.eot") format("eot");
  font-weight: 400;
  font-style: normal; }
.commercial-block {
  background-image: url("../img/aside-background.png");
  background-size: cover; }
  .commercial-block-container {
    width: 60vw;
    height: 16vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto; }
    .commercial-block-container-text-block-heading {
      display: block;
      text-align: left; }
      .commercial-block-container-text-block-heading-yellow {
        font-family: 'raleway', 'verdana', sans-serif;
        font-style: normal;
        font-size: 28px;
        line-height: 28px;
        font-weight: 400;
        color: #c7b299; }
      .commercial-block-container-text-block-heading-white {
        font-family: 'raleway', 'verdana', sans-serif;
        font-style: normal;
        font-size: 28px;
        line-height: 28px;
        font-weight: 400;
        color: #fff; }
    .commercial-block-container-text-block-txt {
      display: block;
      text-align: left;
      margin: 5px 0 0;
      font-family: 'montserrat', 'verdana', sans-serif;
      font-style: normal;
      font-size: 18px;
      line-height: 18px;
      font-weight: 300;
      color: #615855; }
    .commercial-block-container-btn {
      display: block;
      border: none;
      border-bottom: 3px solid #736357;
      background-color: #998675;
      border-radius: 3px;
      width: 170px;
      padding: 13px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      outline: none;
      font-family: 'raleway', 'verdana', sans-serif;
      font-style: normal;
      font-size: 14px;
      line-height: 23px;
      font-weight: 800;
      color: #fff; }
      .commercial-block-container-btn-txt {
        display: block; }
      .commercial-block-container-btn:hover {
        background-color: #998675;
        color: #333232; }
      .commercial-block-container-btn:active {
        background-color: #6e6155;
        color: black; }

@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-regular.woff2") format("woff2"), url("../fonts/raleway-regular.woff") format("woff"), url("../fonts/raleway-regular.ttf") format("truetype"), url("../fonts/raleway-regular.eot") format("eot");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-medium.woff2") format("woff2"), url("../fonts/raleway-medium.woff") format("woff"), url("../fonts/raleway-medium.ttf") format("truetype"), url("../fonts/raleway-medium.eot") format("eot");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-semibold.woff2") format("woff2"), url("../fonts/raleway-semibold.woff") format("woff"), url("../fonts/raleway-semibold.ttf") format("truetype"), url("../fonts/raleway-semibold.eot") format("eot");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-bold.woff2") format("woff2"), url("../fonts/raleway-bold.woff") format("woff"), url("../fonts/raleway-bold.ttf") format("truetype"), url("../fonts/raleway-bold.eot") format("eot");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-extrabold.woff2") format("woff2"), url("../fonts/raleway-extrabold.woff") format("woff") url("../fonts/raleway-extrabold.ttf") format("truetype"), url("../fonts/raleway-extrabold.eot") format("eot");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff"), url("../fonts/roboto-regular.ttf") format("truetype"), url("../fonts/roboto-regular.eot") format("eot");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-light.woff2") format("woff2"), url("../fonts/montserrat-light.woff") format("woff"), url("../fonts/montserrat-light.ttf") format("truetype"), url("../fonts/montserrat-light.eot") format("eot");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff"), url("../fonts/montserrat-regular.ttf") format("truetype"), url("../fonts/montserrat-regular.eot") format("eot");
  font-weight: 400;
  font-style: normal; }
.projects-block-container {
  width: 60vw;
  min-height: 80vh;
  background-color: #fff;
  margin: auto;
  padding: 80px 0 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .projects-block-container-heading {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'raleway', 'verdana', sans-serif;
    font-style: normal;
    font-size: 30px;
    line-height: 30px;
    font-weight: 600;
    color: #555555; }
  .projects-block-container-txt {
    display: block;
    text-align: center;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    margin: 20px 20% 0;
    font-family: 'montserrat', 'verdana', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 28px;
    font-weight: 300;
    color: #615855; }
  .projects-block-container-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px 90px 40px;
    padding: 0; }
    .projects-block-container-navigation-list {
      list-style-type: none;
      border: 1px solid #ebebeb;
      border-radius: 5px;
      padding: 5px 20px 5px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0 0.4% 0;
      font-family: 'montserrat', 'verdana', sans-serif;
      font-style: normal;
      font-size: 14px;
      line-height: 21px;
      font-weight: 300;
      color: #8c8c8c; }
      .projects-block-container-navigation-list-item {
        text-decoration: none;
        color: currentColor; }
      .projects-block-container-navigation-list:hover {
        background-color: #998675;
        color: #fff; }
      .projects-block-container-navigation-list:active {
        color: #000; }
  .projects-block-container-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 40px; }
    .projects-block-container-cards-card {
      position: relative; }
      .projects-block-container-cards-card-image {
        display: block;
        width: 100%; }
      .projects-block-container-cards-card-text-block {
        background-color: #fbfaf8;
        padding: 29px 27px  20px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        position: relative; }
        .projects-block-container-cards-card-text-block:before {
          content: "";
          border: 10px solid transparent;
          border-bottom: 10px solid #fbfaf8;
          position: absolute;
          bottom: 87px;
          left: 17px; }
        .projects-block-container-cards-card-text-block-heading {
          display: block;
          width: 100%;
          font-family: 'raleway', 'verdana', sans-serif;
          font-style: normal;
          font-size: 20px;
          line-height: 20px;
          font-weight: 500;
          color: #c7b299; }
        .projects-block-container-cards-card-text-block-txt {
          display: block;
          margin: 10px 0 0;
          width: 100%;
          font-family: 'montserrat', 'verdana', sans-serif;
          font-style: normal;
          font-size: 14px;
          line-height: 20px;
          font-weight: 300;
          color: #d1d1d1; }
      .projects-block-container-cards-card-link, .projects-block-container-cards-card-search {
        display: none;
        position: absolute;
        border: none;
        width: 25px;
        height: 25px;
        top: 33%;
        background-position: center;
        background-size: cover;
        background-color: transparent; }
      .projects-block-container-cards-card-link {
        background-image: url("../img/project-block-card-link.png");
        left: 39%; }
      .projects-block-container-cards-card-search {
        background-image: url("../img/project-block-card-lupa.png");
        right: 39%; }
      .projects-block-container-cards-card:nth-child(1), .projects-block-container-cards-card:nth-child(2), .projects-block-container-cards-card:nth-child(3) {
        margin: 0 0 30px; }
      .projects-block-container-cards-card:hover .projects-block-container-cards-card-text-block:before {
        border-bottom: 10px solid #362f2d; }
      .projects-block-container-cards-card:hover .projects-block-container-cards-card-text-block {
        background-color: #362f2d; }
      .projects-block-container-cards-card:hover .projects-block-container-cards-card-text-block-heading {
        color: #fff; }
      .projects-block-container-cards-card:hover .projects-block-container-cards-card-text-block-txt {
        color: #c7b299; }
      .projects-block-container-cards-card:hover .projects-block-container-cards-card-image {
        -webkit-filter: brightness(70%);
                filter: brightness(70%); }
      .projects-block-container-cards-card:hover .projects-block-container-cards-card-link, .projects-block-container-cards-card:hover .projects-block-container-cards-card-search {
        display: block; }
  .projects-block-container-button {
    display: block;
    margin: auto;
    border: none;
    border-bottom: 3px solid #736357;
    background-color: #998675;
    border-radius: 3px;
    width: 170px;
    padding: 13px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-transform: uppercase;
    text-align: center;
    outline: none;
    font-family: 'raleway', 'verdana', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    color: #fff; }
    .projects-block-container-button-reference {
      text-decoration: none;
      color: currentColor; }
    .projects-block-container-button:hover {
      background-color: #998675;
      color: #333232; }
    .projects-block-container-button:active {
      background-color: #6e6155;
      color: black; }

@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-regular.woff2") format("woff2"), url("../fonts/raleway-regular.woff") format("woff"), url("../fonts/raleway-regular.ttf") format("truetype"), url("../fonts/raleway-regular.eot") format("eot");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-medium.woff2") format("woff2"), url("../fonts/raleway-medium.woff") format("woff"), url("../fonts/raleway-medium.ttf") format("truetype"), url("../fonts/raleway-medium.eot") format("eot");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-semibold.woff2") format("woff2"), url("../fonts/raleway-semibold.woff") format("woff"), url("../fonts/raleway-semibold.ttf") format("truetype"), url("../fonts/raleway-semibold.eot") format("eot");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-bold.woff2") format("woff2"), url("../fonts/raleway-bold.woff") format("woff"), url("../fonts/raleway-bold.ttf") format("truetype"), url("../fonts/raleway-bold.eot") format("eot");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-extrabold.woff2") format("woff2"), url("../fonts/raleway-extrabold.woff") format("woff") url("../fonts/raleway-extrabold.ttf") format("truetype"), url("../fonts/raleway-extrabold.eot") format("eot");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff"), url("../fonts/roboto-regular.ttf") format("truetype"), url("../fonts/roboto-regular.eot") format("eot");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-light.woff2") format("woff2"), url("../fonts/montserrat-light.woff") format("woff"), url("../fonts/montserrat-light.ttf") format("truetype"), url("../fonts/montserrat-light.eot") format("eot");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff"), url("../fonts/montserrat-regular.ttf") format("truetype"), url("../fonts/montserrat-regular.eot") format("eot");
  font-weight: 400;
  font-style: normal; }
.video-block {
  margin: auto;
  height: 75vh;
  width: 100vw;
  position: relative; }
  .video-block-video {
    width: 100%;
    height: 100%;
    background-color: #fff;
    -o-object-fit: cover;
       object-fit: cover;
    position: relative; }
  .video-block-playbtn {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 30%;
    left: 47%; }
    .video-block-playbtn-circle {
      fill: #000;
      opacity: 0.4;
      position: relative; }
    .video-block-playbtn-icon {
      fill: #fff;
      position: absolute;
      top: 16%;
      left: 18%; }
    .video-block-playbtn--hide {
      display: none; }
    .video-block-playbtn:hover .video-block-playbtn-icon {
      fill: #b2a28f; }
    .video-block-playbtn:active .video-block-playbtn-circle {
      opacity: 1; }
  .video-block-information {
    position: absolute;
    top: 50%;
    left: 35%; }
    .video-block-information-heading {
      display: block;
      width: 60%;
      text-align: center;
      font-family: 'raleway', 'verdana', sans-serif;
      font-style: normal;
      font-size: 30px;
      line-height: 30px;
      font-weight: 500;
      color: #fff; }
    .video-block-information-txt {
      display: block;
      text-align: center;
      margin: 13px 0 0;
      width: 60%;
      -webkit-hyphens: auto;
          -ms-hyphens: auto;
              hyphens: auto;
      font-family: 'montserrat', 'verdana', sans-serif;
      font-style: normal;
      font-size: 16px;
      line-height: 28px;
      font-weight: 300;
      color: #fff; }
    .video-block-information-duration {
      display: block;
      text-align: center;
      width: 60%;
      margin: 23px 0 0;
      font-family: 'montserrat', 'verdana', sans-serif;
      font-style: normal;
      font-size: 14px;
      line-height: 28px;
      font-weight: 400;
      color: #b2a28f; }

/*# sourceMappingURL=style.css.map */